body{
    font-family: 'Merriweather', serif;
    margin: 0px;
}
#section1{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(255, 255, 255) ;
    text-align: center;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 120px;
    padding-bottom: 120px;
}
#section1 h1{
    font-size: 40px;
}
#section1 p{
    font-size: 12px;
    color: aliceblue;
}
a{
    background-color: rgb(236, 93, 77);
    border-width: 2px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 12px;
}
.section2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
p{
    color: gray;
    font-size: 12px;
}
.flex{
    display: flex;
}
.size{
    margin-right: 5px;
    margin-top: 4%;
    border-bottom: 4%;
    background-color: rgba(194, 215, 234, 0.365);
    border: 2px;
    border-radius: 5px;
    padding: 7px 15px;
}
.amount{
    color: rgb(178, 176, 176);
    margin: 0% 25%;
}
.amount input{
    width: 50%;
    border: none;

}
#section3{
    width:100%;
    text-align: center;
}
.size2{
    text-align: left;
    border: 2px;
    border-radius: 5px;
    margin: 30px 8px;
    background-color:rgba(209, 226, 240, 0.298);
    padding: 40px 10px;
    width: 80%;
}
#size3{
    text-align: center;
}
#sd{
    margin: 5%;
    border:2px;
    background-color: rgba(0, 255, 255, 0.308);
    padding: 50px;
}
#size3 input{
    width: 200px;
    height:27px ;
}
footer{
    background-color: black;
    text-align: center;
}
footer h1{
    color: rgba(224, 47, 28, 0.907);
    font-size: 20px;
}
footer p{
    color: aliceblue;
}